@model AkademikBilgiSistemi.Models.Tbl_Notlar
@{
    ViewBag.Title = "NotKaydet";
    Layout = "~/Views/Shared/_LayoutAkademisyen.cshtml";
}

<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info" style="background: #9b8080; border: 0px">
                <i class="fas fa-align-left"></i>
            </button>
            <h3 style="position:absolute; right:90px; top:3px"> KAYSERİ ÜNİVERSİTESİ</h3>
            <img src="~/login-form-v1/Login_v1/images/uniLogo.png" style="height:60px; position:absolute; right:10px; top:2px" />
        </div>
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="~/AkademisyenDers/AdmsNotlar"
                   style="background-color:cornflowerblue; text-decoration: none; color:white; padding:4px 8px; font-size:20px; border-radius: 5px 5px 5px 5px; ">
                    <i class="fa fa-reply"></i>
                </a>
                <h2>NOT GÜNCELLE</h2>
                @using (Html.BeginForm("NotKaydet", "AkademisyenDers", FormMethod.Post))
                {
                    <div class="form-group" style="margin:10px 10px 30px 10px">

                        @Html.HiddenFor(m => m.OgrenciID)
                        <br />
                        @Html.LabelFor(m => m.Sinav1)
                        @Html.TextBoxFor(m => m.Sinav1, new { @class = "form-control" })
                        <br />
                        @Html.LabelFor(m => m.Sinav2)
                        @Html.TextBoxFor(m => m.Sinav2, new { @class = "form-control" })
                        <br />
                        @Html.LabelFor(m => m.Sinav3)
                        @Html.TextBoxFor(m => m.Sinav3, new { @class = "form-control" })
                    </div>
                    <div>

                        <button class="btn btn-warning" style="background-color: #d25700; text-decoration: none; color: white; padding: 3px 11px; font-size: 20px; border-radius: 5px 5px 5px 5px; border-block-color: #d25700; border: 2px ">✓</button>

                    </div>
                    <div>

                    </div>
                }
            </div>
        </nav>
    </div>
</div>

