@model AkademikBilgiSistemi.Models.Tbl_Ogrenciler
@{
    ViewBag.Title = "Bilgiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
                <h3 style="position:absolute; right:90px; top:3px"> KAYSERİ ÜNİVERSİTESİ</h3>
                <img src="~/login-form-v1/Login_v1/images/uniLogo.png" style="height:60px; position:absolute; right:10px; top:2px" />
            </div>
        </nav>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <h2>ÖĞRENCİ BİLGİLERİ</h2>
                    <br />
                    <i class="fa fa-user" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ ADI SOYADI : <asp:TextBox runat="server" style="font-size:20px">@Model.OgrAd  @Model.OgrSoyad</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-square" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ NUMARASI : <asp:TextBox runat="server" style="font-size:20px">@Model.Ogr_ID</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-university" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÜNİVERSİTE ADI : <asp:TextBox runat="server" style="font-size:20px">@Model.OgrUniAdi</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-briefcase" style="font-size:25px"></i>
                    &nbsp;&nbsp;FAKÜLTE ADI : <asp:TextBox runat="server" style="font-size:20px">@Model.OgrFakulteAdi</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-phone" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ TELEFON : <asp:TextBox runat="server" style="font-size:20px">@Model.OgrTelefon</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                    <i class="fa fa-envelope" style="font-size:25px"></i>
                    &nbsp;&nbsp;ÖĞRENCİ MAİL : <asp:TextBox runat="server" style="font-size:20px">@Model.OgrMail</asp:TextBox>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </nav>
        </div>
    </div>
</body>
</html>



